asgiref==3.2.10
backports.zoneinfo==0.2.1
certifi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_884c889c-96af-444f-bd6d-daddb5e9a462ykj3l5n_/croots/recipe/certifi_1655968814730/work/certifi
dj-database-url==1.0.0
dj-static==0.0.6
Django==3.1
django-cors-headers==3.4.0
django-templated-mail==1.1.1
djangorestframework==3.11.1
djangorestframework-simplejwt==4.6.0
djoser==2.0.3
gunicorn @ file:///Users/ktietz/demo/mc3/conda-bld/gunicorn_1629874228120/work
psycopg2 @ file:///Users/ktietz/demo/mc3/conda-bld/psycopg2_1629708680966/work
PyJWT==2.0.0
python-decouple==3.6
pytz==2022.1
sqlparse==0.4.2
static3==0.7.0
